<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Auth</title>
</head>
<body>
    <div class="main">
        <table class="frame">
            <tr>
                <td class="header"><img src="assets/image/header.jpg" alt=""></td>
            </tr>
            <tr>
                <td class="menubar">
                    <table>
                        <tr>
                            <td><a href="menu.html">HOME</a></td>
                            <td><a href="user.html">USER</a></td>
                            <td><a href="item.html">ITEM</a></td>
                            <td><a href="listiom.html">DAFTAR IOM</a></td>
                            <td><a href="newiom.html">IOM BARU</a></td>
                            <td style="border:0;"><a href="auth.html">LOG OUT</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <h1>DATA KARYAWAN</h1>
                    <hr>
                    <table class="description">
                        <tr>
                            <td>Username</td>
                            <td>Boiardi</td>
                        </tr>
                        <tr>
                            <td>Kode Pengguna</td>
                            <td>JPK-001</td>
                        </tr>
                        <tr>
                            <td>Nama Pengguna</td>
                            <td>Ettore Boiardi</td>
                        </tr>
                        <tr>
                            <td>Departemen</td>
                            <td>Canned Foods</td>
                        </tr>
                        <tr>
                            <td>Jabatan</td>
                            <td>Chef</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="footer">PT. Jawa Pos Koran © 2015 - 2020 | All Rights Reserved</td>
            </tr>
        </table>
    </div>
</body>
</html>